<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>electron-vue-project</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <!-- 将' node_modules/ '添加到全局路径中，这样' require '在开发中才能正常工作,即让非主进程也能使用require -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')  //将双斜杠替换成四斜杠
      </script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <!-- 设置自定义全局变量`__static`，在配置文件中会取出该路径 -->
    <!-- Browserify 和 Webpack 都定义了 process.browser，在浏览器中它返回 true，而在 Node 中它返回 false -->
    <% if (!process.browser) { %>
      <script>
        if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
      </script>
    <% } %>

    <!-- webpack builds are automatically injected -->
  </body>
</html>
